video {
    width: 700px;
}

.video-container {
    width: 750px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .video-container video {
    width: 100%; /* Make the video fill the container */
    height: auto; /* Maintain the aspect ratio */
  }